<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1">
    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
    </listeners>

    <test name="UI Tests">
        <packages>
            <package name="ui"/>
        </packages>
    </test>

    <!--<test name="Login Test">-->
        <!--<classes>-->
            <!--<class name="admin.LoginTest"/>-->
        <!--</classes>-->
    <!--</test>-->
    <!--<test name="Add Post Test">-->
        <!--<classes>-->
            <!--<class name="ui.AddPostTest"/>-->
        <!--</classes>-->
    <!--</test>-->
    <!--<test name="Add Comment Test">-->
        <!--<classes>-->
            <!--<class name="ui.AddCommentTest"/>-->
        <!--</classes>-->
    <!--</test>-->
    <!--<test name="Default Pages Test">-->
        <!--<classes>-->
            <!--<class name="admin.DefaultPagesTest"/>-->
        <!--</classes>-->
    <!--</test>-->
    <!--<test name="Page Not Found Test">-->
        <!--<classes>-->
            <!--<class name="ui.PageNotFoundTest"/>-->
        <!--</classes>-->
    <!--</test>-->
    <!--<test name="PageSpeed Test">-->
        <!--<classes>-->
            <!--<class name="ui.PageSpeedTest"/>-->
        <!--</classes>-->
    <!--</test>-->
    <!--<test name="Search Results Page Test">-->
        <!--<classes>-->
            <!--<class name="ui.SearchPageTest"/>-->
        <!--</classes>-->
    <!--</test>-->

</suite>
