<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1">
    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
    </listeners>

    <!--<test name="UI Tests">-->
    <!--<packages>-->
    <!--<package name="ui"/>-->
    <!--</packages>-->
    <!--</test>    -->

    <test name="PageSpeed Test">
        <classes>
            <class name="ui.PageSpeedTest" />
        </classes>
    </test>

</suite>
